.App {
  text-align: center;
}

table{
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
  margin: 12px;
}

th,td{
  border: 2px solid black;

}
caption{
  background-color: blueviolet;
}

